<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>photo use</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_nearcatch._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>온글잎 의연체.ttf</string>
	</array>
</dict>
</plist>
